/* .mainCard{
    width: 70%;
    height: 60%;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
} */

/* .dateRow{
    display: flex;
    justify-content: center;
} */
/* 
.dateField{
    display: flex;
    flex-direction: column;
} */
/* 
.serviceFee{
    display: flex;
    flex-direction: row;
    justify-content:space-between   
} */

/* .reserveActualButton{
    background-color: #ff385c;
} */